@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top:3rem;
}

.screen {
    background: linear-gradient(90deg, lightblue, white);
    position: relative;
    height: 700px;
    width: 600px;
    box-shadow: 0px 0px 24px lightblue;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: white;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: lightblue;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, white, lightblue);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: lightblue;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 520px;
    margin: 3.5rem auto;
}

.login__field {
    padding: 20px 0px;
    position: relative;
    text-align:center;
}

.login__icon {
    position: absolute;
    top: 33px;
    color: lightblue;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 85%;
    transition: .2s;
}
.login__input-n {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    float: left;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 40%;
    transition: .2s;
    margin-left: 5%;
}
    .login__input:active, .login__input:focus, .login__input:hover {
        outline: none;
        border-bottom-color: #6A679E;
    }
    .login__input-n:active, .login__input-n:focus, .login__input-n:hover {
    outline: none;
    border-bottom-color: #6A679E;
    }

.login__submit {
    background: #fff;
    font-size: 20px; 
    margin: 2.5rem auto;
    padding: 16px 20px;
    border: 1px solid lightblue;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 35%;
    color: lightblue;
    box-shadow: 0px 2px 2px lightblue;
    cursor: pointer;
    text-align:center;
    transition: .2s;
}

    .login__submit:active,
    .login__submit:focus,
    .login__submit:hover {
        border-color: #6A679E;
        outline: none;
    }

.button__icon {
    font-size: 24px;
    margin: auto;
    color: lightblue;
}


span {
    float: left;
    margin-left: 40px;
    padding-top:15px;
}